.background-image {
    position: fixed;
    /* 或者absolute, 取决于你想如何定位它 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/back2.png');
    background-size: cover;
    background-position: center;

    z-index: -1;

}

body {
    font-family: 'Roboto Mono', monospace;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* 确保header在最上面 */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 60px;
    /* header的高度 */
    height: calc(100% - 120px);
    /* 减去header和footer的高度 */
    position: relative;
    /* 设置为相对定位 */
    min-height: 100vh;
    /* 至少和视口一样高 */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    padding: 0;
    z-index: 1;
    /* 确保在footer之上 */
    overflow: auto;
    /* 防止超出部分滚动 */
    -webkit-overflow-scrolling: touch;
}

.profile-pic {
    width: 150px;
    /* 设置照片的大小 */
    height: 150px;
    /* 设置照片的大小 */
    border-radius: 50%;
    /* 创建圆形 */
    object-fit: cover;
    /* 确保图片覆盖整个区域，不失真 */
    margin-bottom: 20px;
    /* 与下面内容的间距 */
    z-index: 10;
}

.paper-like-overlay {
    position: fixed;
    /* 改为固定定位 */
    top: 50%;
    /* 顶部50%的位置 */
    left: 50%;
    /* 左侧50%的位置 */
    background-color: rgba(211, 211, 211, 0.85);
    /* 半透明灰色背景 */
    width: 55vw;
    /* 使用视口宽度的百分比设定宽度 */
    height: 65vh;
    /* 使用视口高度的百分比设定高度 */
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.8);
    /* 明显的阴影效果 */
    display: flex;
    flex-direction: column;
    z-index: 2;
    /* 确保它高于其他相对定位的元素 */
    transform: translate(-50%, -50%);
    /* 使其居中 */
    padding: 5vw;
    overflow: auto;
    max-width: 180mm;
    /* 最大宽度，可根据需要调整 */
    max-height: 210mm;
    /* 最大高度，可根据需要调整 */

}

.content {
    color: #333;
    /* 文本颜色 */
    max-width: 100%;
    /* 最大宽度为容器宽度 */
    z-index: 3;

}

.content h1 {
    font-family: 'Orbitron', sans-serif;
    /* 段落字体大小 */
}

.content ul {
    text-align: left;
    /* 列表文本对齐方式 */
    list-style-position: inside;
    /* 将列表标记放置在内部 */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 对于宽度小于或等于600px的屏幕应用样式 */
@media screen and (max-width: 600px) {
    .some-class {
        padding: 10px;
    }

    /* 其他样式... */
}

/* 对于宽度在601px到800px之间的屏幕应用样式 */
@media screen and (min-width: 601px) and (max-width: 800px) {
    .some-class {
        padding: 20px;
    }

    /* 其他样式... */
}

/* 对于宽度大于800px的屏幕应用样式 */
@media screen and (min-width: 801px) {
    .some-class {
        padding: 30px;
    }

    /* 其他样式... */
}