.background-image {
    position: fixed;
    /* 或者absolute, 取决于你想如何定位它 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/back1.png');
    background-size: cover;
    background-position: center;

    z-index: -1;

}

body {
    font-family: 'Roboto Mono', monospace;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* 确保header在最上面 */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 60px;
    /* header的高度 */
    padding: 20px;
    /* 适当的内边距 */
    min-height: calc(100vh - 120px);
    /* header和footer之外的可用高度 */
    overflow: auto;
    /* 防止超出部分滚动 */
    -webkit-overflow-scrolling: touch;
    /* 为iOS设备添加流畅滚动 */
    /* 移除display:flex; justify-content: center; align-items: center; */
}

/* 其他样式保持不变 */
.blog-post {
    width: 100%;
    /* 宽度设置为100% */
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    /* 其他样式保持不变 */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 对于宽度小于或等于600px的屏幕应用样式 */
@media screen and (max-width: 600px) {
    .some-class {
        padding: 10px;
    }

    /* 其他样式... */
}

/* 对于宽度在601px到800px之间的屏幕应用样式 */
@media screen and (min-width: 601px) and (max-width: 800px) {
    .some-class {
        padding: 20px;
    }

    /* 其他样式... */
}

/* 对于宽度大于800px的屏幕应用样式 */
@media screen and (min-width: 801px) {
    .some-class {
        padding: 30px;
    }

    /* 其他样式... */
}