body {
    font-family: 'Roboto Mono', monospace;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* 确保header在最上面 */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* 打字机和纸条的样式 */
.typewriter {
    margin-top: 60px;
    /* header的高度 */
    height: calc(100% - 120px);
    /* 减去header和footer的高度 */
    position: relative;
    background: url('images/backforblog.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 980px;
    /* 根据你的图片大小调整 */
    -webkit-overflow-scrolling: touch;
}

.papers {
    position: absolute;
    bottom: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -20px;
}

.papers li {
    list-style-type: none;
    font-family: 'Orbitron', sans-serif;

    /* 移除列表前的项目符号 */
}

.paper {
    background: white;
    font-size: 1.25rem;
    color: black;
    margin: 20px auto;
    padding: 10px;
    width: 18vw;
    /* 使用视口宽度的百分比 */
    max-width: 370px;
    /* 最大宽度仍然是370px */
    min-width: 280px;
    height: auto;
    /* 高度自动，保持内容的比例 */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    /* 移除下划线 */
    color: inherit;
    /* 使用父元素的文字颜色 */
    display: block;
    /* 使它像块级元素一样显示 */
}

.paper:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 对于宽度小于或等于600px的屏幕应用样式 */
@media screen and (max-width: 600px) {
    .some-class {
        padding: 10px;
    }

    /* 其他样式... */
}

/* 对于宽度在601px到800px之间的屏幕应用样式 */
@media screen and (min-width: 601px) and (max-width: 800px) {
    .some-class {
        padding: 20px;
    }

    /* 其他样式... */
}

/* 对于宽度大于800px的屏幕应用样式 */
@media screen and (min-width: 801px) {
    .some-class {
        padding: 30px;
    }

    /* 其他样式... */
}